[submodule "_DrugLibrary"]
	path = _DrugLibrary
	url = https://github.com/dragoman3/DrugLibrary.git
[submodule "_notes/Public/Clerk"]
	path = _notes/Public/Clerk
	url = https://github.com/dragoman3/Clerkship.git

