[submodule "_notes/Clerkship"]
	path = _notes/Clerkship
	url = https://github.com/dragoman3/Clerkship
[submodule "DrugLibrary"]
	path = _notes/DrugLibrary
	url = https://github.com/dragoman3/DrugLibrary
